@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.699);
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 10px 150px;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.title-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title-header i {
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}

.title-header h1 {
    font-size: 20px;
    font-weight: 600;
}


.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cta a {
    text-decoration: none;
    background-color: rgb(78, 78, 224);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

main {
    background: linear-gradient(90deg, rgba(6, 49, 92, 1) 49%, rgba(4, 64, 64, 1) 100%, rgba(83, 183, 237, 1) 77%);
    display: flex;
    width: 100%;
    height: 100vh;
}

.wrapper-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-main {
    background-color: rgba(0, 128, 0, 0.267);
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
}

.left-content {
    margin: 200px;
}

.left-content h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    margin: 20px 0;
    line-height: 80px;
    width: 600px;
}

.left-content span {
    color: rgb(113, 216, 113);
}

.description {
    color: white;
    font-size: 18px;
    width: 600px;
}

.left-content a {
    text-decoration: none;
    background-color: rgb(98, 190, 98);
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    margin-right: 15px;
    display: inline-block;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-info {
    color: white;
    text-align: center;
    margin: 20px;
    border: 1px solid white;
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.103);
    font-size: 20px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.text-services {
    text-align: center;
    margin-bottom: 50px;
}

.text-services h2 {
    font-size: 47px;
    margin: 20px 0;

}


.text-services span {
    background-color: rgba(28, 226, 28, 0.267);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
}

.wrapper-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.box-services {
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 30px;
    width: 400px;
    border-radius: 20px;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.box-services:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.box-services i {
    color: green;
    background-color: rgb(182, 224, 182);
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: auto;
    background-color: rgba(128, 128, 128, 0.062);
}

.left-content-bills {
    position: relative;
}

.left-content-bills img {
    width: 600px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info-img {
    position: absolute;
    bottom: -20px;
    right: -20px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.103);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
}

.info-img:hover {
    color: rgb(69, 201, 69);
}

.right-content-bills {
    max-width: 600px;
}

.title-bills {
    color: rgb(78, 224, 97);
    font-size: 20px;
    margin-bottom: 10px;
}

.points {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}

.text-feedback h1 {
    font-size: 62px;
    margin-bottom: 20px;
}

.wrapper-feedback {
    display: flex;
    gap: 30px;
    margin-top: 100px;
}

.box-client {
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease;
}

.box-client:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 128, 0, 0.041);
}


.text-client {
    flex: 1;
    text-align: left;
}

.text-client i {
    margin-bottom: 10px;
    color: green;
}

.info-client {
    display: flex;
    margin-top: 20px;
    gap: 12px;
    margin-top: 30px;
    text-align: left;
}

.info-client img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.info-client p {
    font-size: 15px;
}